#card-wrapper {
    margin: 1em;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

mat-card {
    margin: 2em;
}

mat-card-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
