<mat-stepper>
  <!--First step: inputting name and description-->
  <mat-step>
    <ng-template matStepLabel>
      Nombre y descripción del pipeline
    </ng-template>
    <form [formGroup]="pipelineForm">
      <mat-card class="stepper-card">
        <mat-card-header>
          <mat-card-title>
            Información acerca del pipeline
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="pipeline-info-form">
          <mat-form-field>
            <input matInput placeholder="Nombre del pipeline" formControlName="name">
            <mat-error *ngIf="pipelineForm.controls['name'].hasError('required')">
              El nombre del pipeline es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Descripción" formControlName="description"></textarea>
            <mat-error *ngIf="pipelineForm.controls['description'].hasError('required')">
              La descripción es <strong>obligatoria</strong>
            </mat-error>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </form>
    <div class="stepper-action-buttons">
      <button mat-raised-button matStepperNext color="accent" [disabled]="!pipelineForm.valid">
        Continuar
      </button>
    </div>
  </mat-step>
  <!--Second step: strategies selection-->
  <mat-step>
    <ng-template matStepLabel>
      Selecciona las estrategias que conforman el pipeline
    </ng-template>
    <mat-card class="stepper-card">
      <mat-card-header>
        <mat-card-title>
          Selección de estrategias
        </mat-card-title>
        <mat-card-subtitle>
          Seleccione las estrategias que conformarán el pipeline en su orden de ejecución
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="strategy-selection-content">
        <app-strategy-selection-view [strategies]="selectedStrategies"
          (strategyDeletionEmitter)="removeStrategy($event)"></app-strategy-selection-view>
        <app-strategy-selection-table *ngIf="selectionStage != '3'" [selectionStage]="selectionStage"
          (selectedStrategyEmitter)="addNewStrategy($event)"></app-strategy-selection-table>
      </mat-card-content>
    </mat-card>
    <div class="stepper-action-buttons">
      <button mat-raised-button matStepperPrevious color="accent">
        Anterior
      </button>
      <button mat-raised-button matStepperNext color="accent" (click)="updateBuiltPipeline()">
        Siguiente
      </button>
    </div>
  </mat-step>
  <!--Third step: wait for processing-->
  <mat-step>
    <ng-template matStepLabel>
      Creación del pipeline
    </ng-template>
    <div class="last-step-container">
      <mat-card class="stepper-card">
        <mat-card-header>
          <mat-card-title>
            Se creará el siguiente pipeline
          </mat-card-title>
          <mat-card-subtitle>
            Asegúrese que los datos del nuevo pipeline son correctos
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>Nombre:</span>
              <span matListItemLine>{{builtPipeline.name}}</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Descripción:</span>
              <p matListItemLine style="word-wrap: break-word; max-width: 700px;">{{builtPipeline.description}}</p>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Estrategias:</span>
              <mat-list>
                <div *ngFor="let shortStrategy of builtPipeline.strategies; index as i">
                  <mat-list-item matListItemLine>
                    {{i+1}} - {{shortStrategy.name}}
                  </mat-list-item>
                </div>
              </mat-list>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>

      <!-- Submit button -->
      <div class="submit-stage-section">
        <!-- First stage modification button -->
        <button mat-raised-button color="accent" (click)="createPipeline()" [disabled]="!pipelineForm.valid"
          *ngIf="usageStage == '1'">Crear pipeline</button>

        <!-- Second stage progress bar -->
        <app-progress-bar-section [text]="processingStage" *ngIf="usageStage == '2'"></app-progress-bar-section>

        <!-- Third stage modification button -->
        <button mat-raised-button color="accent" (click)="createPipeline()" [disabled]="!pipelineForm.valid"
          *ngIf="usageStage == '3' && result == false">Reintentar la creación del pipeline</button>
        <a mat-raised-button color="accent" *ngIf="usageStage == '3' && result == true" routerLink="/view_pipelines">
          Ver pipelines</a>
        <app-backend-results-section *ngIf="usageStage == '3'" [result]="result" [errorMessage]="backendErrorMessage"
          [successfullText]="'Pipeline creado correctamente!'"
          [unsuccessfullText]="failureErrorStage"></app-backend-results-section>
      </div>
    </div>
    <div class="stepper-action-buttons">
      <button mat-raised-button matStepperPrevious color="accent">
        Anterior
      </button>
    </div>
  </mat-step>
</mat-stepper>