a {
    text-decoration: none;
}

nav {
    margin: 2em 0 1em 2em;
    width: 25%;
}

mat-card-content {
    margin-bottom: 1em;
    font-size: 1.2em;
}

mat-card-content li {
    margin-bottom: 10px;
}

mat-card-content ul {
    margin-top: 10px;
}

section {
    margin: 2em;
}

p {
    text-align: justify;
}

main {
    margin-bottom: 3em;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 1280px;
    max-height: 720px;
}