<div class="page-wrapper">
  <nav>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Tabla de contenidos</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ol>
          <li><a href="/docs/guides/record#1">Creación de registros</a></li>
          <li>
            <a href="/docs/guides/record#2">Vista</a>
            <ul>
              <li><a href="/docs/guides/record#2-1">Tabla de registros</a></li>
              <li><a href="/docs/guides/record#2-2">Vista de un registro concreto</a></li>
            </ul>
          </li>
          <li><a href="/docs/guides/record#3">Modificación de registros</a></li>
        </ol>
      </mat-card-content>
    </mat-card>
  </nav>

  <main>
    <section id="1">
      <h1>1. Creación </h1>
      <p>
        mejorar la tecnología.
      </p>
    </section>
    <mat-divider></mat-divider>
    <section id="2">
      <h1>2. Vista</h1>
      <p>
        A continuación, se realiza una descripción breve de los elementos.
      </p>
      <section id="2-1">
        <h2>2.1. Registros</h2>
        <p>
          puede ver las etapas de procesamiento implicadas en la creación del registro y su salida.
        </p>
      </section>
      <section id="2-2">
        <h2>2.2 Estrategias</h2>
        <p>
          tecnología en concreto y su implementación conforman el concepto de estrategia.
        </p>
      </section>
    </section>
    <mat-divider></mat-divider>
    <section id="3">
      <h1>3. Modificación</h1>
      <p>
        A continuación, se realiza una descripción breve de los elementos.
      </p>
    </section>
  </main>
</div>