mat-divider {
    margin: 2em;
    width: 80%;
}

.status-warning{
    font-size: 1.2em;
    background-color: rgba(209, 31, 31, 0.737);
    border-radius: 15px;
    padding: 0.7em;
    margin: 0.6em;
}