#component-wrapper {
    display: flex;
    flex-flow: column nowrap;
}

.possible-input{
    display: flex;
    flex-flow: column nowrap;
}

.possible-input-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}