<mat-stepper>
  <!--First step: recording audio-->
  <mat-step>
    <ng-template matStepLabel>
      Realiza la grabación
    </ng-template>
    <app-audio-recorder (testeEmitter)="updateTeste($event)">
    </app-audio-recorder>
    <button mat-raised-button matStepperNext color="accent">
      Continuar
    </button>
  </mat-step>
  <!--Second step: pipeline selection-->
  <mat-step>
    <ng-template matStepLabel>
      Selecciona un pipeline
    </ng-template>
    <app-pipeline-table (selectedPipelineEmitter)="updateSelectedPipeline($event)"></app-pipeline-table>
    <div class="stepper-action-buttons">
      <button mat-raised-button matStepperPrevious color="accent">
        Anterior
      </button>
      <button mat-raised-button matStepperNext color="accent">
        Siguiente
      </button>
    </div>
  </mat-step>
  <!--Third step: wait for processing-->
  <mat-step>
    <ng-template matStepLabel>
      Espera los resultados
    </ng-template>
    <div class="last-step-container">
      <!-- Before record creating process -->
      <div class="before-processing-container" *ngIf="usageStage != '3'">
        <h2 style="margin-top: 1em;">Audio grabado</h2>
        <div *ngIf="blob">
          <app-audio-player [audioBlob]="blob"></app-audio-player>
        </div>
        <h2 *ngIf="pipeline" style="margin-top: 1em;">Estrategias que se emplearán en el procesamiento</h2>
        <div *ngIf="pipeline" class="strategy-name-container">
          <div *ngFor="let strategy of pipeline.strategies; let last = last">
            <div class="strategy-pair">
              <span>{{strategy.name}}</span>
              <mat-icon *ngIf="!last" style="margin: 0, 3px;">arrow_forward</mat-icon>
            </div>
          </div>
        </div>

      </div>
      <!-- Submit button -->
      <div class="submit-stage-section">
        <!-- First stage creation button -->
        <button mat-raised-button color="primary" (click)="createRecord()" [disabled]="!blobURL || !pipeline"
          *ngIf="usageStage == '1'">
          Crear Registro
        </button>

        <!-- Second stage progress bar -->
        <app-progress-bar-section [text]="processingStage" *ngIf="usageStage == '2'"></app-progress-bar-section>

        <!-- Third stage modification button -->
        <button mat-raised-button color="accent" (click)="createRecord()" [disabled]="!blobURL || !pipeline"
          *ngIf="usageStage == '3' && result == false">Reintentar la creación del registro</button>
        <a mat-raised-button color="accent" *ngIf="usageStage == '3' && result == true" routerLink="/view_records">
          Ver registros</a>
        <app-backend-results-section *ngIf="usageStage == '3'" [result]="result" [errorMessage]="backendErrorMessage"
          [successfullText]="'Registro creado correctamente!'"
          [unsuccessfullText]="failureErrorStage"></app-backend-results-section>
      </div>
      <!-- Final record -->
      <div *ngIf="usageStage == '3' && result" class="finished-recording">
        <mat-card class="record-card">
          <mat-card-header>
            <mat-card-title>
              Información detallada sobre la historia clínica electrónica creada
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-view-ehr [selectedRecord]="createdRecord"></app-view-ehr>
          </mat-card-content>
        </mat-card>
        <button mat-raised-button color="primary" routerLink="/view_records">
          Ver Registros
        </button>
      </div>
    </div>
    <button mat-raised-button matStepperPrevious color="accent">
      Anterior
    </button>
  </mat-step>
</mat-stepper>