<mat-stepper>
  <!--First step: recording audio-->
  <mat-step>
    <ng-template matStepLabel>
      Selecciona un Registro
    </ng-template>
    <app-ehr-table (selectedRecordEmitter)="updateSelectedRecord($event)"></app-ehr-table>
    <button mat-raised-button matStepperNext color="accent">
      Continuar
    </button>
  </mat-step>
  <!--Second step: pipeline selection-->
  <mat-step>
    <ng-template matStepLabel>
      Selecciona un pipeline
    </ng-template>
    <app-pipeline-table (selectedPipelineEmitter)="updateSelectedPipeline($event)"></app-pipeline-table>
    <div class="stepper-action-buttons">
      <button mat-raised-button matStepperPrevious color="accent">
        Anterior
      </button>
      <button mat-raised-button matStepperNext color="accent">
        Siguiente
      </button>
    </div>
  </mat-step>
  <!--Third step: wait for processing-->
  <mat-step>
    <ng-template matStepLabel>
      Seleccion de etapa del pipeline y datos de entrada
    </ng-template>
    <!-- Input data selection -->
    <mat-card class="data-selection-card">
      <mat-card-header>
        <mat-card-title>
          Selección del los datos de entrada
        </mat-card-title>
        <mat-card-subtitle>
          Seleción de los datos del registro existente que servirán como entrada para el pipeline
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="data-selection-card-content">
        <app-record-content-selection [selectedRecord]="selectedRecord"
          (selectedInputEmitter)="updateNewRecordInput($event)"></app-record-content-selection>
      </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
    <!-- Pipeline stage selection -->
    <mat-card class="data-selection-card">
      <mat-card-header>
        <mat-card-title>
          Selección de la etapa del pipeline
        </mat-card-title>
        <mat-card-subtitle>
          Seleción de la etapa del pipeline a partir de la cual se realizará el procesamiento.
          Al tratarse de un registro a partir de otro, siempre se excluye la transcripción.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="data-selection-card-content">
        <app-pipeline-stage-selection [selectedPipeline]="selectedPipeline"
          (selectedStageEmitter)="updateNewStage($event)"></app-pipeline-stage-selection>
      </mat-card-content>
    </mat-card>
    <div class="stepper-action-buttons">
      <button mat-raised-button matStepperPrevious color="accent">
        Anterior
      </button>
      <button mat-raised-button matStepperNext color="accent">
        Siguiente
      </button>
    </div>
  </mat-step>
  <!--Fourth step: wait for processing-->
  <mat-step>
    <ng-template matStepLabel>
      Creación del registro
    </ng-template>
    <div class="last-step-container">
      <!-- Before record creating process -->
      <div class="before-processing-container" *ngIf="usageStage != '3'">
        <h2 style="margin-top: 1em;">Transcripción</h2>
        <div *ngIf="selectedRecord">
          <span>{{selectedRecord.transcription}}</span>
        </div>
        <h2 *ngIf="selectedPipeline" style="margin-top: 1em;">Estrategias que se emplearán en el procesamiento</h2>
        <div *ngIf="selectedPipeline" class="strategy-name-container">
          <div *ngFor="let strategy of processingSteps; let last = last">
            <div class="strategy-pair">
              <span>{{strategy.name}}</span>
              <mat-icon *ngIf="!last" style="margin: 0, 3px;">arrow_forward</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <!-- Submit button -->
      <div class="submit-stage-section">
        <!-- First stage creation button -->
        <button mat-raised-button color="primary" (click)="createRecord()" [disabled]="!(selectedRecord && selectedPipeline)"
          *ngIf="usageStage == '1'">
          Crear Registro
        </button>

        <!-- Second stage progress bar -->
        <app-progress-bar-section [text]="processingStage" *ngIf="usageStage == '2'"></app-progress-bar-section>

        <!-- Third stage modification button -->
        <button mat-raised-button color="accent" (click)="createRecord()" [disabled]="!(selectedRecord && selectedPipeline)"
          *ngIf="usageStage == '3' && result == false">Reintentar la creación del registro</button>
        <a mat-raised-button color="accent" *ngIf="usageStage == '3' && result == true" routerLink="/view_records">
          Ver registros</a>
        <app-backend-results-section *ngIf="usageStage == '3'" [result]="result" [errorMessage]="backendErrorMessage"
          [successfullText]="'Registro creado correctamente!'"
          [unsuccessfullText]="failureErrorStage"></app-backend-results-section>
      </div>
      <!-- Final record -->
      <div *ngIf="usageStage == '3' && result" class="finished-recording">
        <mat-card class="record-card">
          <mat-card-header>
            <mat-card-title>
              Información detallada sobre la historia clínica electrónica creada
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-view-ehr [selectedRecord]="createdRecord"></app-view-ehr>
          </mat-card-content>
        </mat-card>
        <button mat-raised-button color="primary" routerLink="/view_records">
          Ver Registros
        </button>
      </div>
    </div>
    <button mat-raised-button matStepperPrevious color="accent">
      Anterior
    </button>
  </mat-step>
</mat-stepper>