<div>
  <!--Name-->
  <h3>Nombre</h3>
  <span>{{selectedStrategy.name}}</span>
  <mat-divider></mat-divider>
  <!--Description-->
  <h3>Descripción</h3>
  <span>{{selectedStrategy.description}}</span>
  <mat-divider></mat-divider>
  <!--Stage-->
  <h3>Etapa de procesamiento</h3>
  <span>{{selectedStrategy.stage}}</span>
  <mat-divider></mat-divider>
  <!--Input type-->
  <h3>Tipo de dato de entrada</h3>
  <span>{{selectedStrategy.input_type}}</span>
  <mat-divider></mat-divider>
  <!--Output type-->
  <h3>Tipo de dato de salida</h3>
  <span>{{selectedStrategy.output_type}}</span>
  <mat-divider></mat-divider>
  <!--Created by-->
  <h3>Creado por</h3>
  <span>{{selectedStrategy.created_by}}</span>
  <mat-divider></mat-divider>
  <!--Last modified by-->
  <h3>Última modificación por</h3>
  <span>{{selectedStrategy.last_modified_by}}</span>
  <mat-divider></mat-divider>
  <!--Created at-->
  <h3>Fecha de creación</h3>
  <span>{{selectedStrategy.created_at}}</span>
  <mat-divider></mat-divider>
  <!--Last modified time-->
  <h3>Fecha de última modificación</h3>
  <span>{{selectedStrategy.updated_at}}</span>
  <mat-divider></mat-divider>
</div>